/* mobile first costruito in base al layout mobile di larghezza 375px */

:root {
  --gap-standard: 1rem;
  --hero-bg-color: rgba(181, 221, 255, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
nav {
  background-color: rgba(0, 132, 253, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

nav svg {
  fill: white;
}

.hero-section {
  background-color: antiquewhite;   /* placeholder */
  width: 100%;
  padding: 3rem 0;
}

.hero-container {
  background-color: aquamarine;   /* placeholder */
  width: 85%;
  margin: auto;
}

.row {
  background-color: yellowgreen;    /* placeholder */
  height: calc(100% / 2 - var(--gap-standard));
}

.col-xl .col:first-child {
  
  border-radius: 25px 25px 0 0;
}

.col-xl .col:last-child {
  background-color: rgba(181, 221, 255, 255);
  border-radius: 0 0 25px 25px;
}

.col img {        /* poi diventerà ".col-xl .col img" */
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.col {
  background-color: var(--hero-bg-color);
  border-radius: 25px;
}