/* mobile first costruito per layout mobile di larghezza 375px */

:root {
  --gap-standard: 1rem;
  --bg-hero-color: rgba(181, 221, 255, 255);        /* azzurro */
  --titles-hero-color: rgba(0,132,253,255);         /* blu */
  --paragraph-hero-color: rgba(102,125,144,255);    /* grigio */
  --bg-main-color: rgba(151,146,228,255);           /* lilla */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */
nav {
  background-color: rgba(0, 132, 253, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hero-section {
  background-color: antiquewhite;   /* placeholder */
  width: 100%;
  padding: 3rem 0 5rem;
}

.container {
  background-color: aquamarine;   /* placeholder */
  width: 85%;   /* 83% sembra più preciso */
  margin: auto;
}

.row {
  background-color: yellowgreen;    /* placeholder */
  height: calc(100% / 2 - var(--gap-standard));
  display: flex;
  flex-direction: column;
  gap: calc(var(--gap-standard) * 1.5);
}

.col-xl .col:first-child {    /* probabilmente da settare la larghezza per motivi di responsiveness */
  border-radius: 25px 25px 0 0;
  padding: 2rem 1.6rem 0;
  gap: 1.5rem;
}

.col-xl .col:last-child {
  background-color: rgba(181, 221, 255, 255);
  border-radius: 0 0 25px 25px;
  padding-top: calc(var(--gap-standard) * 2);
}

.col {
  background-color: var(--bg-hero-color);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
}

.col img {        /* poi diventerà ".col-xl .col img" */
  width: 80%;
  height: 80%;
  object-fit: contain;
  display: block;
  margin: auto;
}

.col-xl .col h2 {
  color: var(--titles-hero-color);
}

.hero-section p {
  color: var(--paragraph-hero-color);
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6rem;
}

.col-xl .col button {         /* da controllare cosa si può ricilare */
  background-color: var(--titles-hero-color);
  padding: .6rem 3rem;
  border-radius: 25px;
  align-self: flex-start;
}



/* Main */
.main-container {
  background-color: var(--bg-main-color);
  width: 100%;
}