/* colori SVG */
.svg-white {
  fill: white;
}

.svg-blue {
  fill: rgba(0,132,253,255);
}

/* colori testo */
.text-blue {      /* da vedere se renderlo una var */
  color: rgba(0,132,253,255);
}

/* regole generali */
button {
  border: none;
}

button a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  letter-spacing: 3px;
}